//Part Number: GW5A-LV25MG121NC2
//Device: GW5A-25

IO_PORT "clk_i"       IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "rst_i"       IO_TYPE=LVCMOS33 PULL_MODE=UP   DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "uart0_txd_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8   BANK_VCCIO=3.3;
IO_PORT "uart0_rxd_i" IO_TYPE=LVCMOS33 PULL_MODE=UP   DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "gpio_o[0]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8   BANK_VCCIO=3.3;
IO_PORT "gpio_o[1]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8   BANK_VCCIO=3.3;
IO_PORT "gpio_o[2]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8   BANK_VCCIO=3.3;
IO_PORT "gpio_o[3]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8   BANK_VCCIO=3.3;
IO_PORT "gpio_o[4]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8   BANK_VCCIO=3.3;
IO_PORT "gpio_o[5]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8   BANK_VCCIO=3.3;